html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------------------- */
/* mystyle */

.body {
    text-align: center;
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.p-img {
    box-sizing: border-box;
    margin-top: 100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 1em #0bbd85;
    margin-bottom: 50px;
    /* border: 1px solid #3c1d5e; */
}

.wrapper {
   text-align: center;
}

.heading-para {
    font-family: 'Chilanka', cursive;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 1.5;
    word-spacing: 2px;
    line-height: 1.5;
    width: auto;
    text-shadow: 0 0 5px black, 0 0 5px blue;
}

.para {
    margin: 0 auto;
    width: 1020px;
    color: lightyellow;
    box-sizing: border-box;

}

.list-icons {
    display: inline-block;
    margin-bottom: 100px;
}

.li-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px grey solid;
    box-sizing: border-box;
    border-radius: 50%;
    background: #556270;
    margin-right: 10px;
}



/* images */


.icon-tag {
    margin-top: 15px;
    
}

.para p {
    margin-bottom: 40px;
}

.pic-section {
    margin-top: 50px;
    display: inline-block;
}

.tall-box {
    width: 350px;
    height: 550px;
    border: 10px darkgrey solid;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    
}

h3 {
    font-size: 24px;
    color:white;
    font-weight: 100;
    margin-top: 5px;

}

img {
    width: 350px;
    height: 500px;
}

hr{
    width: 250px;
    color: grey;
    margin-bottom: 100px;
    margin-top: 150px;
}

/* footer */

footer p {
    margin-bottom: 100px;
    color: darkslategrey;
}





